# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @sagemaker-debugger will be requested for
# review when someone opens a pull request.
*       @awslabs/sagemaker-debugger

# Any modification to config/profiler will require review from dl-containers team
config/profiler @awslabs/dl-containers
