# Build Spec for AWS CodeBuild CI

version: 0.2
env:
  variables:
    ## below enviornment variables are overridden in respective code build.
    # for example for pytorch build run_pytest_pytorch and run_integration_pytest_pytorch will be enabled
    run_pytest_pytorch: "disable"
    run_pytest_mxnet: "enable"
    run_pytest_tensorflow: "disable"
    run_pytest_tensorflow2: "disable"
    run_pytest_xgboost: "disable"
    run_integration_pytest_pytorch: "disable"
    run_pytest_profiler: "disable"
    run_integration_pytest_mxnet: "enable"
    run_integration_pytest_tensorflow: "disable"
    run_integration_pytest_tensorflow2: "disable"
    run_integration_pytest_xgboost: "disable"
    # below needs to be enabled
    zero_code_change_test: "enable"
phases:
  install:
    commands:
      # The recent update to XGBoost container is requiring to update the PUB_KEY for successfully running the apt-get update
      - if [ "$run_pytest_xgboost" = "enable" ]; then su && apt-key adv --keyserver hkp://keyserver.ubuntu.com:80  --recv 684BA42D; fi
      - apt-get update
      - apt-get install sudo -qq -o=Dpkg::Use-Pty=0
      - sudo apt-get install unzip -qq -o=Dpkg::Use-Pty=0
      - cd $CODEBUILD_SRC_DIR  && chmod +x config/protoc_downloader.sh && ./config/protoc_downloader.sh
      - pip install --upgrade pip==19.3.1
      - pip install -q pytest wheel pyYaml pytest-html pre-commit awscli pytest-cov
      - cd $CODEBUILD_SRC_DIR && chmod +x config/install_smdebug.sh && chmod +x config/check_smdebug_install.sh && ./config/install_smdebug.sh;

  build:
    commands:
      - cd $CODEBUILD_SRC_DIR  && chmod +x config/tests.sh && PYTHONPATH=. ./config/tests.sh && cd ..
      - cd $CODEBUILD_SRC_DIR_RULES && chmod +x config/tests.sh && PYTHONPATH=. ./config/tests.sh  && cd ..

  post_build:
    commands:
      - if [ "$CODEBUILD_BUILD_SUCCEEDING" -eq 0 ]; then echo "ERROR BUILD FAILED " && exit 1 ; fi
      - if [ "$CODEBUILD_BUILD_SUCCEEDING" -eq 1 ]; then echo "INFO BUILD SUCCEEDED !!! " ; fi
